.favors {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-box__wrapper {
    padding: 28px 0;
    text-align: center;
    background: #f5f4fa;
    margin-bottom: 30px;
  }
  &-box {
    margin-bottom: 30px;
    width: 100%;
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 90px) / 4);
    }
  }
  &-title {
    @include font(14px, $main-color, 1.1, bold);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  &-text {
    font-size: 14px;
    line-height: 24px;
    @include font(14px, $sec-color, 1.7);
    letter-spacing: 0.03em;
  }
}
