.logo {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;

  margin-right: 88px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }

  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;

  @each $key in black, white {
    #{&}-color__#{$key} {
      color: #{$key};
    }
  }
}
