*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-color);
}

button {
  cursor: pointer;
}

.hidden-elem {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid red;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.nav,
.links,
.contacts {
  display: flex;
}

svg,
use {
  transition: fill 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.pb-0 {
  padding-bottom: 0;
}

.section-title {
  margin: 0 0 30px 0;
  text-align: center;
  @include font(28px, $main-color, 1.17, bold);
  @media screen and (min-width: 1200px) {
    @include font(36px, $main-color, 1.16, bold);
    margin: 0 0 50px 0;
  }

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
